@model AspNoteCore.MVC.Models.Note

<div class="row">
    <div class="col-lg-4">
        <form class="form-horizontal" method="post" asp-controller="Note" asp-action="Add">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" asp-for="NoteTitle" placeholder="Please Input Note Title" />
                <span class="text-danger" asp-validation-for="NoteTitle"></span>
            </div>
            <div class="form-group">
                <textarea class="form-control" asp-for="NoteContents" placeholder="Please input note" rows="20"></textarea>
                <span class="text-danger" asp-validation-for="NoteContents"></span>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save</button>
                <a class="btn btn-warning" asp-controller="Note" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
